@keyframes floatPhoto {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes promoSubtitle {
    0%,
    10%,
    100% {
        background-position: -33rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes promoSubtitleCursor {
    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinnerSecond {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loadingCircle {
    to {
        opacity: 1;
    }
}

@keyframes resumeAfter {
    0% {
        height: 0;
    }
    100% {
        height: calc(100% + 14px);
    }
}

@keyframes resumeBefore {
    0% {
        width: 0;
    }
    100% {
        width: 45px;
    }
}

@keyframes resumeOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}