@use 'global' as *;

@use 'policy/policy';

@use 'blocks/modal';
@use 'blocks/navigation';
@use 'blocks/menu';
@use 'blocks/promo';
@use 'blocks/resume';
@use 'blocks/skills';
@use 'blocks/portfolio';
@use 'blocks/contacts';

@use 'base/media';
@use 'base/dark';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    // overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    border: none;
    outline: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    color: var(--color-black);
    transition: .5s color;
    will-change: color;
}

body {
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    position: relative;
    z-index: 1;
}

.divider {
    width: 6rem;
    height: .3rem;
    background-color: var(--main-color);
    margin: 2.5rem auto 0 auto;
    transition: .5s background-color;
    opacity: 0;
}

.animated {
    .divider {
        animation: slideTop .5s ease forwards;
    }
}

.hide {
    opacity: 0;
    visibility: hidden;
}

.show {
    opacity: 1;
    visibility: visible;
}
