.wpcf7-not-valid-tip {
    position: absolute;
    top: 3rem;
    left: 2rem;
    white-space: nowrap;
    font-size: 1.2rem;
    line-height: 1.5;
}

.wpcf7-spinner {
    display: none !important;
}

.contacts__textarea .wpcf7-not-valid-tip {
    top: 1.5rem;
}

.contacts__triggers--checkbox .wpcf7-form-control-wrap .wpcf7-not-valid-tip {
    left: 4rem;
}

.wpcf7 form.sent .wpcf7-response-output {
    // border-color: #46b450;
    border-radius: 3rem;
}

// .wpcf7 form .wpcf7-response-output {
//     border
// }