html {
    font-size: 62.5%;
}

@media (hover: none) {
    .menu {
        &-bar {
            &:hover {
                box-shadow: 0 0 1rem var(--main-color);
            }
        }
        &.active {
            .menu {
                &-list {
                    .mode {
                        &:hover {
                            box-shadow: 0 0 1rem var(--main-color);
                        }
                    }
                    .language {
                        &.active {
                            &:hover {
                                color: var(--bg-color);
                                &::before {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 40rem);
        }
    }
}

@media (max-width: 991px) {
    section {
        padding: 5rem 5% 2rem;
    }
    .skills__card-front:hover::before, .skills__card-back:hover::before {
        opacity: 0;
    }
    .contacts {
        justify-content: flex-start;
        flex-direction: column;
        &__photo {
            &-img {
                width: 60vw; 
            }
        }
    }
    .swiper {
        .swiper-slide-active {
            .swiper-slide-descr {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }
        }
        .swiper-button-disabled {
            box-shadow: none;
        }
    }
    .portfolio__slide {
        .swiper-button-prev,
        .swiper-button-next {
            &.swiper-button-disabled {
                opacity: 0.7 !important;
                box-shadow: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .promo {
        flex-direction: column;
        &__content {
            &-title {
                font-size: 5rem;
            }
            &-subtitle {
                h2 {
                    font-size: 2.6rem;
                }
            }
        }
        &__photo {
            margin-top: 4rem;
            &-img {
                width: 70vw;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
        }
        &__column {
            margin-top: 4rem;
        }
    }
    .skills {
        &__ratings {
            grid-auto-rows: minmax(7rem, auto);
        }
    }
    .swiper {
        flex-direction: row !important;
        .swiper-slide {
            aspect-ratio: 3/4;
            max-width: 30rem;
        }
    }
    // .portfolio {
    //     &__items {
    //         flex-direction: column;
    //         min-height: 100vh;
    //         min-width: auto;
    //         &-item {
    //             &.active {
    //                 .descr {
    //                     transform: translateY(0);
    //                     opacity: 1;
    //                     visibility: visible;
    //                 }
    //             }
    //         }
    //     }
    // }
}

@media (max-width: 576px) {
    html {
        font-size: 50%;
    }
    .menu {
        top: -7rem;
        right: -7rem;
    }
    // .skills {
    //     &__wrapper {
    //         grid-template-columns: repeat(auto-fit, minmax(20rem, 10rem));
    //     }
    // }
    .swiper {
        .swiper-slide {
            max-width: 28rem;
            .descr-title {
                font-size: 2.6rem;
            }
            .descr-text {
                font-size: 1.7rem;
            }
        }
    }
    .contacts {
        &__input, &__button, &__checkbox {
            grid-column: 1/3;
        }
        &__form {
            margin-top: 2rem;
            display: grid;
            grid-template: 5rem 5rem 5rem 20rem 5rem 5rem/repeat(1, auto);
            grid-template-columns: minmax(auto, 50rem);
            justify-content: center;
        }
    }
    .menu {
        &__block {
            width: 25rem;
            padding-left: 2rem;
        }
    }
    .modal {
        &__content {
            padding: 3rem;
        }
        &__title {
            font-size: 2rem;
        }
    }
}

@media (max-width: 450px) {
    section {
        padding: 10rem 5% 2rem;
    }
    .promo {
        &__content {
            &-title {
                font-size: 4rem;
            }
            &-subtitle {
                h2 {
                    font-size: 2;
                }
            }
        }
        &__photo {
            &-img {
                width: 80vw;
            }
        }
    }
    .portfolio {
        .swiper {
            .swiper-slide {
                max-width: 24.7rem;
                .descr-title {
                    font-size: 2.3rem;
                }
                .descr-text {
                    font-size: 1.5rem;
                }
            }
        }
        .swiper-pagination .swiper-pagination-bullet {
            width: 1.3rem !important;
            height: 1.3rem !important;
            &-active {
                width: 2.6rem !important;
            }
        }
    }
    .contacts {
        &__contact {
            font-size: 2.8rem;
        }
    }
}