// $main-color: #FFA501;
// $bg-color: #18222c;
// $second-color: #2ea6ff;
// $index: calc(1vw + 1vh);
// $transition: cubic-bezier(.1, .7, 0, 1);

:root {
    --main-color: #FFA501;
    --color-black: #000;
    --color-white: #fff;
    --bg-color: #fff;
    --cards-bg: rgba(255, 255, 255, .75);
}

// @media (prefers-color-scheme: dark) {
//     :root {
//         --bg-color: #18222c;
//         --color-white: #fff;
//         --color-black: #000;
//         --cards-bg: rgba(255, 255, 255, .1);
//     }
// }