.navigation {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3%;
    background: $main-color;
    height: 6rem;
    width: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s transform;
    z-index: 4;
    border-radius: 3rem;
    &__list {
        display: flex;
        // justify-content: center;
        width: 28rem;
        position: relative;
        .indicator {
            position: absolute;
            top: -3.5rem;
            width: 7rem;
            height: 7rem;
            background: $main-color;
            border-radius: 50%;
            z-index: 1;
            transition: 0.5s;
            &:before {
                content: '';
                position: absolute;
                top: .5rem;
                left: -2.8rem;
                width: 3rem;
                height: 3rem;
                background: transparent;
                border-radius: 50%;
                box-shadow: 2.6rem 1.8rem $main-color;
            }
            &:after {
                content: '';
                position: absolute;
                top: .5rem;
                right: -2.8rem;
                width: 3rem;
                height: 3rem;
                background: transparent;
                border-radius: 50%;
                box-shadow: -1.5rem 1.8rem $main-color;
            }
        }
    }
    &__link {
        list-style: none;
        position: relative;
        width: 7rem;
        height: 6rem;
        transition: .5s;
        z-index: 2;
        a {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            text-decoration: none;
            z-index: 3;
            .icon {
                position: relative;
                display: block;
                min-width: 5.5rem;
                height: 5.5rem;
                line-height: 6.5rem;
                text-align: center;
                border-radius: 50%;
                background: $main-color;
                color: white;
                font-size: 2.5rem;
                &:before {
                    content: '';
                    position: absolute;
                    top: 1rem;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: white;
                    border-radius: 50%;
                    filter: blur(.5rem);
                    opacity: 0;
                    transition: 0.5s;
                }
            }
        }
    }
}

.navigation__link.active {
    transform: translateY(-2.7rem);
    a {
        .icon {
            transition: 0.5s all;
            color: black;
            background: white;
            &:before {
                opacity: 0.5;
            }
        }
    }

    &:nth-child(1) ~ .indicator {
        transform: translateX(calc(7rem * 0));
        &:before {
            box-shadow: 2.6rem 1.8rem $main-color;
        }
    }
    &:nth-child(2) ~ .indicator {
        transform: translateX(calc(7rem * 1));
        &:before {
            box-shadow: 1.5rem 1.8rem $main-color;
        }
    }
    &:nth-child(3) ~ .indicator {
        transform: translateX(calc(7rem * 2));
        &:before {
            box-shadow: 1.5rem 1.8rem $main-color;
        }
    }
    &:nth-child(4) ~ .indicator {
        transform: translateX(calc(7rem * 3));
        &:after {
            box-shadow: -2.6rem 1.8rem $main-color;
        }
    }
    &:nth-child(5) ~ .indicator {
        transform: translateX(calc(7rem * 4));
    }
}

.menu {
    position: fixed;
    top: -5rem;
    right: -5rem;
    width: 27rem;
    height: 27rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    &.active {
        .menu {
            &-bar {
                transform: rotate(-130deg);
                color: $main-color;
                background: white;
                box-shadow: none;
            }
        }
        .menu {
            &-list {
                transform: rotate(calc(-110deg / 4 * var(--i))) translateX(0);
                .mode {
                    font-size: 3rem;
                    box-shadow: 0 0 1rem $main-color;
                    transition: 0.5s box-shadow;
                    &:hover {
                        box-shadow: none;
                    }
                }
            }
        }
    }
    &-bar {
        position: absolute;
        width: 5.5rem;
        height: 5.5rem;
        border: .2rem solid $main-color;
        border-radius: 50%;
        color: white;
        background: $main-color;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 4;
        font-size: 3em;
        box-shadow: 0 0 1rem $main-color;
        transition: 1s transform, 0.5s box-shadow;
        &:hover {
            box-shadow: none;
        }
    }
    &-list {
        position: absolute;
        left: 0;
        width: 5.5rem;
        height: 5.5rem;
        list-style: none;
        transition: 0.5s;
        transition-delay: calc(0.2s * var(--i));
        transform-origin: 14rem;
        transform: rotate(0deg) translateX(11rem);
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            cursor: pointer;
            width: 5rem;
            height: 5rem;
            color: $main-color;
            border: .2rem solid $main-color;
            border-radius: 50%;
            font-size: 2em;
            transform: rotate(calc(-110deg / -4 * var(--i)));
            position: relative;
            display: inline-flex;
            z-index: 1;
            overflow: hidden;
            transition: .5s color;
            &.language {
                font-size: 2rem;
                &:hover {
                    text-decoration: none;
                    color: #FFF;
                    &::before {
                        width: 100%;
                    }
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background-color: $main-color;
                    z-index: -1;
                    transition: .5s width;
                }
                &.active {
                    color: white;
                    &::before {
                        width: 100%;
                    }
                    &:hover {
                        color: $main-color;
                        &::before {
                            width: 0;
                        }
                    }
                }
            }
            &.mode {
                box-shadow: none;
            }
        }
        
    }
}