.portfolio {
    display: flex;
    justify-content: center;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60vh;
    }
    &__items {
        display: flex;
        gap: .4rem;
        perspective: calc($index * 35);
        &-item {
            border-radius: 20px;
            background-color: $main-color;
            width: calc($index * 3);
            height: calc($index * 12);
            background-size: cover;
            background-position: center;
            cursor: pointer;
            transition: transform 1.25s $transition, filter 3s $transition, width 1.25s $transition;
            will-change: transform, filter;
            filter: grayscale(100%) brightness(.7);
            &:active, &:focus {
                width: 28vw;
                transform: translateZ(calc($index * 10));
                filter: inherit;
                z-index: 2;
                margin: 0 .45vw;
            }
            &::after, &::before {
                content: '';
                position: absolute;
                width: 20px;
                height: 100%;
                right: calc($index * -1);
            }
            &::after {
                left: calc($index * -1);
            }
            &:hover {
                transform: translateZ(calc($index * 10));
                filter: inherit;
                & + * {
                    transform: translateZ(calc($index * 8.5)) rotateY(35deg);
                    filter: inherit;
                    z-index: -1;
                    & + * {
                        transform: translateZ(calc($index * 5.6)) rotateY(40deg);
                        filter: inherit;
                        z-index: -2;
                        & + * {
                            transform: translateZ(calc($index * 2.4)) rotateY(30deg);
                            z-index: -3;
                            filter: inherit;
                            & + * {
                                transform: translateZ(calc($index * .6)) rotateY(14deg);
                                z-index: -4;
                                filter: inherit;
                            }
                        }
                    }
                }
            }
            &:has(+ :hover) {
                transform: translateZ(calc($index * 8.5)) rotateY(-35deg);
                filter: inherit;
            }
            &:has(+ * + :hover) {
                transform: translateZ(calc($index * 5.6)) rotateY(-40deg);
                filter: inherit;
            }
            &:has(+ * + * + :hover) {
                transform: translateZ(calc($index * 2.4)) rotateY(-30deg);
                filter: inherit;
            }
            &:has(+ * + * + * + :hover) {
                transform: translateZ(calc($index * .6)) rotateY(-14deg);
                filter: inherit;
            }
        }
    }
}