.promo {
    position: relative;
    background: url('../img/background.jpg') no-repeat 100%/cover;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 100vh;
    background-attachment: fixed;
    &:after {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.3);
    }
    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__subtitle {
        padding-top: 205px;
        position: relative;
        padding-left: 10px;
        z-index: 1;
        @include before_circle;
        &:before {
            top: 87%;
        }
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 250px;
        align-items: center;
        justify-content: space-between;
    }
    &__link, &__about {
        color: black;
        font-weight: bold;
        &:hover {
            color: black;
            text-decoration: none;
        }
    }
    .container {
        background: url('../img/main.png') no-repeat 100%/cover;
        opacity: 0.75;
        height: 100vh;
    }
}