.promo {
    position: relative;
    height: 100vh;
    &__title {
        width: 535px;
        margin-top: 10px;
        // z-index: 3;
        // transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
    }
    &__subtitle {
        padding-top: 205px;
        // position: relative;
        padding-left: 10px;
        // z-index: 3;
        // transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
        @include before_circle;
        &:before {
            top: 87%;
        }
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 250px;
        align-items: center;
        justify-content: space-between;
    }
    &__link, &__about {
        color: black;
        font-weight: bold;
        &:hover {
            color: black;
            text-decoration: none;
        }
    }
    .container {
        z-index: 4;
    }
    &__background {
        // height: 100vh;
        .background {
            position: absolute;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
            // object-fit: cover;
            will-change: transform;
        }
        &-main {
            transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
            z-index: 0;
        }
        &-back {
            transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
            z-index: 1;
        }
        &-front {
            transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
            z-index: 2;
        }
        &-photo {
            transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
            z-index: 1;
        }
    }
}