.promo {
    position: relative;
    background: url('../img/background.jpg') no-repeat 100%/cover;
    min-height: 100vh;
    background-attachment: fixed;
    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__subtitle {
        padding-top: 205px;
        position: relative;
        padding-left: 10px;
        z-index: 1;
        @include before_circle;
        &:before {
            top: 87%;
        }
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 250px;
        align-items: center;
        justify-content: space-between;
    }
    &__link, &__about {
        color: black;
        font-weight: bold;
        &:hover {
            color: black;
            text-decoration: none;
        }
    }
    .container {
        background: url('../img/background.png') no-repeat 100%/cover;
        height: 100vh;
    }
}