.carousel {
    height: 100vh;
    margin-top: 5rem;
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    &-title {
        z-index: 3;
        position: relative;
        text-align: center;
        font-weight: 700;
        font-size: 3.6rem;
        line-height: 6rem;
        @include before_circle;
        &::before {
            top: 0em;
            left: 50%;
            transform: translateX(-50%);
            width: 1.5em;
            height: 1.5em;
        }
    }
    &-subtitle {
        z-index: 3;
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-align: center;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .divider {
        z-index: 3;
    }
}

.carousel__list-item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.carousel__list-item .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-attachment: fixed;
    background-size: cover;
}
.carousel__list-item .uber {
    background-image: url('../img/works/uber.jpg');
}
.carousel__list-item .pulse {
    background-image: url('../img/works/pulse.jpg');
}
.carousel__list-item .food {
    background-image: url('../img/works/food.jpg');
}
.carousel__list-item .wordpress {
    background-image: url('../img/works/wordpress.jpg');
}
.carousel__list-item .balcony {
    background-image: url('../img/works/balcony.jpg');
}
.carousel__list-item .art {
    background-image: url('../img/works/art.jpg');
}
.carousel__list-item .loan {
    background-image: url('../img/works/loan.jpg');
}
.carousel__list-item .pokemons {
    background-image: url('../img/works/pokemon.jpg');
}
.carousel__list-item .content{
    position: absolute;
    top: 30%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}
.carousel__list-item .title {
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}
.carousel__list-item .buttons{
    display: grid;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
    a {
        position: relative;
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: black;
        border: .2rem solid black;
        border-radius: 100%;
        transition: .5s;
        overflow: hidden;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #FFF;
            z-index: 0;
            scale: 1 0;
            transform-origin: bottom;
            transition: scale .5s ease;
        }
        &:hover {
            &::before {
                scale: 1 1;
            }
            box-icon {
                filter: invert(100%);
                transform: rotateY(360deg);
            }
        }
        box-icon {
            transition: .5s ease;
            z-index: 3;
        }
    }
}
.carousel__list-item .buttons button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}
.carousel__list-item .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}

.carousel__thumbnail {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.carousel__thumbnail-item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.carousel__thumbnail-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.carousel__thumbnail-item .content{
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.carousel__thumbnail-item .content .title{
    font-weight: 500;
}
.carousel__thumbnail-item .content .description{
    font-weight: 300;
}

.carousel__arrows {
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.carousel__arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}
.carousel__arrows button:hover{
    background-color: #fff;
    color: #000;
}

.carousel__list-item:nth-child(1){
    z-index: 1;
}

.carousel__list-item:nth-child(1) .content .title,
.carousel__list-item:nth-child(1) .content .des,
.carousel__list-item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel__list-item:nth-child(1) .content .title{
    animation-delay: 1.2s!important;
}
.carousel__list-item:nth-child(1) .content .des{
    animation-delay: 1.4s!important;
}
.carousel__list-item:nth-child(1) .content .buttons{
    animation-delay: 1.6s!important;
}

// img
.carousel.next .carousel__list-item:nth-child(1) .img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage {
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .carousel__thumbnail-item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
// img
.carousel.prev .carousel__list-item .img {
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.carousel.next .carousel__thumbnail {
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

.carousel__time {
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: var(--main-color);
    left: 0;
    top: 0;
}

.carousel.next .carousel__time,
.carousel.prev .carousel__time {
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}

.carousel.prev .carousel__list-item:nth-child(2) {
    z-index: 2;
}
// img
.carousel.prev .carousel__list-item:nth-child(2) .img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .carousel__thumbnail-item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .carousel__arrows button,
.carousel.prev .carousel__arrows button {
    pointer-events: none;
}
.carousel.prev .carousel__list-item:nth-child(2) .content .title,
.carousel.prev .carousel__list-item:nth-child(2) .content .des,
.carousel.prev .carousel__list-item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .carousel__list-item .content{
        padding-right: 0;
    }
    .carousel__list-item .content .title{
        font-size: 30px;
    }
}
